<h1 class="display-4" style = "color:#FF7851"><b>Welcome to the Food & Nutrition User hub</b></h1>
<div class="jumbotron">
  <h3 class = "display-4" align = 'left' style = "color: #343a40"> Scroll down to view ideas!<br/> </h3>
 </div>
<br/>
<!--<div class="row">
      <div class="card"  style= "height: 1500x; width: 300x" *ngFor="let FoodNutrition of FoodNutrition">
    <div class="card-body">
      <p class="card-text">{{FoodNutrition.description}}</p>
    </div>
    </div>
    </div> -->
    <div class="row">

        <div class="column">
           <div class="card"  style= "height: 1500x; width: 300x" *ngFor="let FoodNutrition of FoodNutrition">
           <div class="card-body">
                <p class="card-text">{{FoodNutrition.description}}</p>
            </div>
      </div>
    </div>
 </div>

  
