<div class="jumbotron" background img src = "assets/Healthy-Background.jpg">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <h1 class="display-4"><b>Welcome to me! the self care hub</b></h1>
  <p class="lead"><b>Inspire and get inspired</b></p>
  <br/>
  <br/>
  <h3>Self care is just one click away.
    Click here to join the hub!
  </h3>
  <p class="lead" align = "center">
    <button type="button" class="btn btn-danger btn-lg" >Login</button>
    <br/>
    <br/>
   <b>Click here to sign up.</b>
    <br/>
    <br/>
    <button type="button" class="btn btn-danger btn-lg" routerLink = "register">Sign Up</button>
  
