<div align = "right">
    <a routerLink = "login">Login</a>
    <a routerLink = "register">      |   | Sign-Up</a>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><br/><h1 font = "comic-sans">me!</h1>The self care hub.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink = "home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "foodandnutrition">Food & Nutrition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "workouts">Workouts</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink = "mealplans">MealPlans</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "profile">My Profile</a>
      </li>
    </ul>
  </div>
</nav>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class = "breadcrumb-item"> View user ideas here!</li>
    <li class="breadcrumb-item"><a routerLink = 'foodandnutritionuser'>Food & Nutrition Ideas</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a routerLink = 'workoutsuser'>Workouts Ideas</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a routerLink = 'mealplansuser'>Mealplans Ideas</a></li>
  </ol>
</nav>

